.text {
  text-align: center;
  font-size: 32px;
}

.link  {
  padding-top: 20px;
  text-align: center;
}

.back {
  width: 40%;
}

.pig {
  width: 128px;
  height: 128px;
  &_wrapper {
    padding: 120px 0;
  }
}